@import "tailwindcss";

:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC62D;
}



body {
  display: block;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #FFC62D;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}