@import "tailwindcss";

:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC62D;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #FFC62D;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}