#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms ease;
}
.slide-exit {
  transform: translateX(0%);
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms ease;
}

.triangle-mask {
  --p1: 100% 100%;
  --p2: 100% 100%;
  --p3: 100% 100%;
  clip-path: polygon(var(--p1), var(--p2), var(--p3));
}

